body{
  background-color:navy;
}
h1{
  color:blue;}
      h2{
        color:orange;}
      h1{
        text-align:center;}
      h3{
        color:maroon;}
      p{
        color:white;}
      td{
        color:white;}
      th{
        color:white;}
h1{background-color:white;
 }
td{background-color:darkblue;
  }
