body{
    background-color:cream;
}
h1{
    text-align:center;
}
h2{
    background-color:blue;
}
td{
    background-color:white;
}
p{
    color:black;
}
tr{
    color:white;
}
h1{
    color:black;
}
