body{
    background-color:cream!important;
}
h1{
    text-align:center;
}
h2{
    background-color:light blue;
}
td{
    background-color:white;
}
p{
    color:white;
}
tr{
    color:white;
}
h1{
    color:blue;
}
